<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Enter Version Number (1.2.3)" [(ngModel)]="version" (keyup.enter)="getSoftwareVersions()">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" (click)="getSoftwareVersions()">Find Software</button>
  </div>
</div>
<div *ngIf="message" class="alert alert-danger">{{message}}</div>

<div *ngFor="let software of softwares" class="software mb-2">
  <strong>{{software.name}}</strong>
  <span>{{software.version}}</span>
</div>
